
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?rruvp');
	src:url('../fonts/icomoon.eot?#iefixrruvp') format('embedded-opentype'),
		url('../fonts/icomoon.woff?rruvp') format('woff'),
		url('../fonts/icomoon.ttf?rruvp') format('truetype'),
		url('../fonts/icomoon.svg?rruvp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
*{ margin: 0; padding: 0; font-family: "微软雅黑";}
a{text-decoration: none;}
li{ list-style: none;}
img{border: 0;}
.clear{  height: 0px!important; overflow: hidden; clear: both;}
.blank10{ height: 10px; overflow: hidden; clear: both;}
.blank20{ height: 20px; overflow: hidden; clear: both;}
.blank30{ height: 30px; overflow: hidden; clear: both;}

.hover1s{ -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s; -o-transition: all 1s ease; transition: all 1s ease ;}

.wrap{ width: 100%; background:#e5e5e5; overflow: hidden; padding-top: 3px;}
.icon-fonts{ font-family:'icomoon';}


/********************************/
/*
 * header
 */
#header{ width: 1140px;position: fixed; left: 50%; margin-left:-570px;  _position:absolute; _top:expression(eval(document.documentElement.scrollTop));
 height: 78px;   top: 0px; background: #fff; z-index: 1000;  box-shadow: 0px 2px 2px #999999; border-radius: 0px 0px 5px 5px;
}
#header #logo{ width: 35%; height: 78px; float: left;}
#header #logo a{ display: block; margin: auto; width: 310px; height: 78px;  background:url(../images/logo.png) no-repeat 0 50%;}
.header_right{ float: right; width: 65%;}
.header_right ul li{ float: left; padding:15px  25px 0px; height: 63px; line-height: 26px; text-align: center;  color: #999999; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s; -o-transition: all 1s ease; transition: all 1s ease ;}
.header_right ul li span{ display: block;font-size: 12px;}
.icon-home{ display: block; width: 14px; height: 11px; overflow: hidden; margin-top: 22px; background: url(../images/icon-images.png) 0px 0px;}
.header_right ul li.current{ background: #52b6ec; color:#fff;}
.header_right ul li:hover{background: #52b6ec; color: #FFFFFF; cursor: pointer;}
/*
 * banner
 */
#banner{ width: 100%; height:582px; overflow: hidden;  position: relative; z-index:1;  background-size:cover; background-position: center;}
#banner a{  position: absolute; display: block; width: 50px; height: 50px; border-radius: 5px; background:#000000; text-align: center; line-height: 50px; font-size: 24px; font-weight: bold; font-family:"宋体"; color: #FFFFFF;
filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5; }
#banner a:hover{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8; }
#banner a.banner_left_btn{ left: 1%; top: 50%;}
#banner a.banner_right_btn{ right: 1%; top: 50%;}
#banner ul { margin-top:200px;;}
#banner ul  li{ text-align: center; color: #FFFFFF;}
#banner ul  li h1{ font-size: 68px;}
#banner ul  li p{ font-size: 21px; line-height: 32px;;}




/*
 * park01
 */
.park_wrap{ width: 1140px; margin:-40px auto 0px;  border-radius: 10px; overflow: hidden; z-index: 200; position: relative;}

.park01{ width:100%; background:#FFFFFF; overflow: hidden; box-shadow: 0px 2px 2px #E5E5E5;}
.park01 .park01_one{ width:360px; height: 240px; padding: 20px 10px; margin-bottom: 15px; float: left; overflow: hidden;}
.park01 .park01_one .park01_one_img{ width:87px; height: 84px; overflow: hidden; margin: auto; background: url(../images/sex_artical_bk.jpg); }
.park01 .park01_one .park01_one_img img{ display: block; }
.park01 .park01_one .park01_one_img a{ display:block; width: 70px; height: 70px; position:absolute; top: 0px; left: 0px; background: url(../images/park01_bk.png);}
.park01 .park01_one .park01_one_img  strong{ font-size: 40px; display: block; margin: 10px auto 0px; text-align: center; color: #FFFFFF;}
.park01 .park01_one .park01_one_img p{ font-size: 9px; line-height: 14px; color: #FFFFFF; font-family: "Arial Bold";}
.park01 .park01_one .park01_one_img:hover img{filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;}
.park01 .park01_one h2{ text-align: center; font-size: 18px; line-height: 42px; color: #777777; font-weight: normal;}
.park01 .park01_one  p{ font-size: 14px; text-align: center;  line-height: 20px;  color: #777777;}

/*
 * park02
*/

.park02,.park03,.park04{ width: 100%; padding: 40px 0px; background: #f3f3f3; box-shadow: 0px 2px 2px #E5E5E5; margin-top: 1px;}
.park02  header h1,.park03 header h1,.park04  header h1{ font-size: 48px; text-align: center;  color: #777777; line-height: 72px;}
.park02  header p,.park03 header p,.park04 header p{font-size: 18px; line-height: 30px; color: #999999; width: 65%; margin: 20px auto; text-align: center;}

.park02_list{ width: 98%; padding:20px 1%; overflow: hidden;}
.park02_list .park02_list_one{ width: 21%; margin: 10px 1%; padding:0px 1% 10px; background: #FFFFFF; overflow: hidden; float: left; display: inline;}
.park02_list .park02_list_one .park02_list_one_img{ width: 230px; height: 160px; overflow: hidden; margin:10px auto; position: relative;}
.park02_list .park02_list_one .park02_list_one_img a{background:url(../images/white0.png); display:block; width: 100%; height: 100%; position: absolute; left: 0px; top: 0px;}
.park02_list .park02_list_one .park02_list_one_img a i{ display: block; width: 38px; height: 32px; background:url(../images/park02_eyes_bk.png); margin:70px auto 0px; display: none;}
.park02_list .park02_list_one .park02_list_one_img a:hover{ background:url(../images/white40.png)}
.park02_list .park02_list_one .park02_list_one_img a:hover i{ display: block;}
.park02_list .park02_list_one .park02_list_one_img a i:hover{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s; -o-transition: all 1s ease; transition: all 1s ease ; }
.park02_list .park02_list_one figcaption{ text-align: center; font-size: 16px; color: #777777;}

/*
 * new park2
 */

.new_park02{ width: 100%;background: #f0f0f0;box-shadow: 0px 2px 2px #E5E5E5; margin-top: 1px;}
.new_park02 header{ width: 90%; margin: 0 auto; height: 88px; background: url(../images/header_bk.jpg) repeat-x; overflow: hidden;}
.new_park02 header div{ padding: 0px 20px; line-height: 26px; margin: 17px  auto;  text-align: center; overflow: hidden; width: 480px; background: #f0f0f0;}
.new_park02 header div strong{  font-size: 20px;}
.new_park02 header div p{ font-size: 14px;}

.new_park02_content ul li .new_park02_img{ width: 205px; height: 205px; border-radius: 103px; position: relative;}
.new_park02_content ul li{ width: 205px;  float: left; margin: 0px 40px; display:inline}
.new_park02_content ul li img{ border-radius: 103px; border:#E5E5E5 solid 1px; position: absolute; top: 0px; left: 0px ;}
.new_park02_content ul li .new_park02_img a{ display: block; position: absolute;  left: 0px; top: 0px; width: 0px; height: 0px; border-radius: 103px; border: 103px dashed  rgba(0, 0, 0, 0.0)}
.new_park02_content ul li .new_park02_img a:hover{border: 1px  dotted rgba(0, 0, 0, 0.7); width: 205px; height: 205px; border-radius: 103px;left: 0px; top: 0px;}

.new_park02_content ul li img:hover{ border: #000 dotted 1px;}
.new_park02_content ul li h3{ text-align: center; line-height: 60px; font-size: 24px;}
.new_park02_content ul li h3 a{ color: #777;}
.new_park02_content ul li h3 a:hover{ color: #111111;}
.new_park02_content ul li p{ font-size: 14px; line-height: 22px; color: #777777;}
/*
 *park03
 */

.park03{ background: #f0f0f0; }
.park03 header{width: 90%; margin: 0 auto; height: 88px; background: url(../images/header_bk.jpg) repeat-x; overflow: hidden;}
.park03 header h1{ width: 500px; height: 80px; line-height: 80px; background: #f0f0f0; margin: auto ; font-size: 30px;}
.park03_list_box{ overflow: hidden; margin: 20px 0px;}
.park03_list_one { width: 320px;float: left; margin: 10px 30px;overflow: hidden; display: inline; background: #ffffff;  }
.park03_list_one  h2{ text-align: center;  font-size: 30px; height: 82px; line-height: 82px;}
.park03_list_one  h2 a{color: #999999;}
.park03_list_one ul li a{  color: #999999;   }

.park03_list_one ul li{ height: 28px; line-height: 28px;font-size: 12px; padding-left: 20px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s; -o-transition: all 0.3s ease; transition: all 0.3s ease ;}
.park03_list_one ul li:hover{ height: 42px; line-height: 42px; font-size:14px; color: #777777;}
.park03_list_one:hover{ box-shadow: 0px 1px 10px #999999;}
.park03_list_one .more_list{ width: 100%; height: 50px;  display: block; text-align: center; line-height: 50px; font-size: 12px; margin: 20px auto 0px; color: #FFFFFF; }
.park03_list_one .more_list a{ color: #FFFFFF;}
.park03_list_one .more_list a i{color:#c2fbee;}
.park03_list_one .more_list a:after{
	content: "\e600";
	color: #c2fbee;
	
}
.park03_list_first{ margin-top: 50px;}
.park03_list_first h2 a{ color: #677799;}
.park03_list_first .more_list{ background:#677799 ;}

.park03_list_second h2 a{ color: #f05165;}
.park03_list_second .more_list{ background:#f05165 ;}
.park03_list_third{ margin-top: 50px;}
.park03_list_third h2 a{ color: #353942;}
.park03_list_third .more_list{ background:#353942 ;}

/*
 * park04
*/
.park04{ background: #FFFFFF;}
.park04_box{ width: 98%;height: 382px; padding:0px 1%; position: relative; overflow: hidden;}
.park04_box ul li{ width: 242px; height: 382px; float: left ;margin: 0px 65px; display: inline;}

.park04_box ul { width: 5000px; position: absolute; left: 0px; top: 0px;}
.park04_box ul li div{ width: 242px; height: 242px;  overflow: hidden; position: relative;}
.park04_box ul li div a{ display: block; width:242px; height: 242px; position:absolute; left: 0px; top: 0px; background: url(../images/park04_bk.png); }
.park04_box ul li h2{ font-size: 24px; line-height: 32px; margin-top: 15px; text-align: center; color: #777777;}
.park04_box ul li  p{ font-size: 16px; line-height: 30px; text-align: center; color: #777777;}

.park04_left{ display: block; width: 20px; height:32px; background: url(../images/icon-images.png) 0px -17px; position: absolute; top: 40%; left:10px;}
.par04_right{display: block; width: 20px; height:32px; background: url(../images/icon-images.png) 0px -49px; position: absolute; top: 40%; right:10px;}

/*
 * new_park04
 */
.new_park04{ background: #ffffff;}
.new_park04 header{ line-height: 28px; font-size: 14px; padding: 0px 30px;  color: #61acd6;}
.new_park04_content ul li{ float: left; margin-left: 15px; margin-top: 10px; display: inline; height: 214px; position: relative; overflow: hidden; }
.new_park04_content ul li .li_top_box,.new_park04_content .li_top_video{ width: 100%; height: 100%;  position: absolute; left: 0px; top: 0px;}
.new_park04_content .liwith336{ width:336px ;}
.new_park04_content .liwith400{ width: 400px;}
.new_park04_content .liwith204{ width: 204px;}
.new_park04_content .liwith446{ width: 446px;}
.new_park04_content .li_top_video  a{ display: block; height: 66px; width: 66px; margin: 74px auto; font-size: 66px; color: #FFFFFF;}
.new_park04_content .li_top_video  a:before{
	content: "\e601";
}
.new_park04_content .li_top_video  a:hover{ color: #444444;}
.new_park04_content ul li .li_top_box{top: 174px; background: url(../images/green_60.png);}
.new_park04_content ul li .li_top_box h3{ font-size: 18px; font-weight: normal; height: 44px; line-height: 44px; padding-left: 10px;}
.new_park04_content ul li .li_top_box h3 a{ color: #FFFFFF;}
.new_park04_content ul li .li_top_box h3 a span{ font-size: 14px; margin-right:10px ; display: block; float: left;}
.new_park04_content ul li .li_top_box h3 a span:before{
	content: '\e9bb';
	
}
.new_park04_content ul li .li_top_box p{ font-size: 14px; padding:5px 10px; line-height: 20px; color: #FFFFFF;}
.new_park04_content ul li .blue_60{ background:url(../images/blue_60.png);}

/*
 *park05 
 */
.park05{ background: #222222; padding:100px 0px 70px;overflow: hidden; height: 420px;}
.park05_left{width:550px; padding: 0px 20px; overflow: hidden;  float: left; }
.park05_left h1{ font-size: 36px; color: #FFFFFF;}
.park05_left p{ line-height: 26px; font-size: 14px; color: #FFFFFF;}
.park05_left .name_email .inputtext{ width: 240px; height: 32px; border: 0px; line-height: 32px; padding-left: 5px; border-radius: 4px; color: #999999; font-size: 16px; background: #111111;}
.park05_left textarea{ width: 518px; height: 216px; padding-left: 5px; text-align: left; font-size: 16px; color: #999999;border-radius: 4px; border: none;  background: #111111;}
.park05_left  .sub{ width: 152px; height: 42px; line-height: 42px; text-align: center; border: 0; background: #d9534f; color: #FFFFFF;  font-size: 18px;  border-radius: 6px; cursor: pointer;}

.park05_right { float: left;width: 500px; overflow: hidden;}
.park05_right h1{font-size: 36px; color: #FFFFFF; }
.park05_right  .address{ width: 250px; float: left; font-size: 14px; color: #999999; line-height: 24px;;}

.park05_right  .icon-social li{ width: 250px; float: left; margin: 15px 0px;}
.park05_right  .icon-social li div{ width: 38px; height: 38px; float: left; position: relative; margin-right: 20px; display: inline;}
.park05_right  .icon-social li  a{ font-size: 18px;  color: #7b9999; line-height: 38px;;}
.park05_right  .icon-social li div a{ position: absolute; width: 38px; height: 38px; left: 0px; top: 0px;}
/*
 * footer
 */
#footer{ height: 100px; line-height: 100px; width: 1140px; margin: auto;}
#footer p{ color: #999999;}

/*
 * #popup_box
 */


